* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: #141519;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .face {
    width: 350px;
    height: 350px;
    background-color: #1e252f;
    padding: 20px 25px;
    border-radius: 30px;
    position: relative;
    cursor: default;
}

.main .face img {
    background-color: #292d35;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.main .face h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.main .face p {
    font-size: initial;
    font-weight: initial;
    color: #555c66;
    margin-bottom: 30px;
}

.main .face .selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .face .selection button {
    background-color: #262e38;
    width: 42px;
    height: 42px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    border-style: none;
    text-decoration: none;
    font-size: 16px;
    color: white;
    transition-duration: 0.4s;
}

button[type="submit"] {
    background-color: #fc7613;
    width: 100%;
    outline: none;
    border: none;
    padding: 12px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    position: relative;
    left: 50%;
    bottom: -40px;
    transform: translate(-50%, -50%);
    transition-duration: 0.4s;
    overflow: hidden;
}

button[type="submit"]::after {
    content: "";
    background: #db8b13;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -100px;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button[type="submit"]:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0.01s
}

.main .face .selection button:hover {
    background-color: #fc7613;
    cursor: pointer;
}

.main .face .selection button:active {
    background-color: #7d8797;
}

button[type="submit"]:hover {
    color: #fc7613;
    background-color: white;
    cursor: pointer;
}